.navbar-brand img{
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.5rem;
}

a{
    font-family: 'ProximaNova',Arial,Sans-serif;
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.register-box{
    margin: 3rem;
    text-align: center;
}

.register{
    background-image: linear-gradient(to right,#373A40,#686D76,#EEEEEE);
    width:20%;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
}

.about-section {
    padding: 5rem;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

i{
    color: #71C9CE;
    /* margin-bottom: 1.5rem; */
    transition: all 0.2s;
}

i:hover{
    color: #00ADB5;
}

footer{
    text-align: center;
    padding: 4% 7% 2%;
}

.socials{
    margin:10px 40px;
    text-decoration: none;
}